@model BookStore.Models.BookDetails
@{
    ViewBag.Title = "ProductInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <form class="forminfo">
        <fieldset>
            <div class="col-lg-4">
                <img class="product-image img-responsive main" src="@Model.sach.ANH" alt="">
            </div>
            <div class="col-lg-8 info">
                <div class="row">
                    <h2 id="bookname">@Model.sach.TEN_SACH</h2>
                </div>
                <div class="row">
                    <p>

                        <div>
                            Tác giả:
                            @{
                                foreach (var item in Model.tg)
                                {
                                    <a class="author" href="">@item.TEN_TAC_GIA</a>
                                    <a>&#160;</a>
                                }
                            }
                        </div>
                        <div>Thể loại: @Model.tl.TEN_THE_LOAI</div>
                        <div>Nhà xuất bản:@Model.nxb.TEN_NXB</div>
                        <div>Ngày bán: @Model.sach.NGAY_BAN.ToShortDateString()</div>
                    </p>
                    <p>
                        <h3 class="price-sale">@Model.sach.GIA ₫</h3>
                    </p>
                </div>
                <div class="row">
                    <h2>66% đánh giá tích cực</h2>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <h2 id="ContentTitle">Giới thiệu</h2>
            </div>
            <div class="row">
                <!--sau này ghi nội dung rồi tách chuổi ở ~ chổ xuống hàng-->
                <pre>
                @{ 
                    string[] NDs = Model.sach.NOI_DUNG.Split('\n');
                    foreach(string ND in NDs)
                    {
                        @ND
                    }
                }
            </pre>
            </div>
        </fieldset>
    </form>
    <div class="row comment">
        <h3>Đánh giá</h3>
        <form>
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        @Html.TextArea("cmt", new { @class = "form-control row", style = "width: 100%; height:150px;max-width:100%;margin: 0;" })
                        @Html.ValidationMessage("cmt", "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="submit" />
            </fieldset>
        </form>
        </div>
    <style>
        .comment {
            margin: 0;
        }
            .author {
                text-decoration: underline;
                color: blue;
            }

            .forminfo {
                margin-top: 30px;
            }

            fieldset {
                border: 1px solid lightgray;
                box-shadow: 3px 3px lightgray;
            }

            .main {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 300px;
                height: 300px;
            }

            #ContentTitle {
                margin-left: 30px;
            }

            #bookname {
                color: darkcyan;
                text-shadow: 2px 2px lightgray;
            }

            pre {
                border: none;
                padding: 0;
                width: 95%;
                margin-left: 29px;
            }

            .suggest {
                margin: 0;
                margin-top: 30px;
            }

            h4.price-sale {
                text-align: center;
                color: black;
            }

            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .itm {
                border: 1px solid lightgray;
                margin-bottom: 10px;
                margin-left: 32px;
                box-shadow: none;
            }

                .itm:hover {
                    box-shadow: 3px 3px 3px 3px lightgray;
                    border: 1px solid black;
                }

            a {
                outline: none;
                color: #2e2d2d;
            }

                a:hover {
                    color: black;
                    text-decoration: none;
                }
        </style>
