@model IEnumerable<BookStore.SACH>
@{
    ViewBag.Title = "Index";
}
<script>
    $(#myCarousel).carousel(0).addClass('active');
</script>
<img src="~/img/9159a7ba710db49.jpg " alt="sách" style="width:100%;height:333px;margin-bottom: 30px;" />
<div class="container col-md-12">    
    <div id="products" class="row list-group">
            <div class="panel with-nav-tabs panel-info">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Hàng mới</a></li>
                        <li><a href="#tab2" data-toggle="tab">Đánh giá cao</a></li>
                        <li><a href="#tab3" data-toggle="tab">Primary 3</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <div class="row-fluid row">
                                @{
                                    var b = 0;
                                    foreach (var item in Model)
                                    {

                                        b++;
                                        <div class="itm col-xs-2 col-md-2">
                                            <div class="product-box-list">
                                                <div class="product-box-list">
                                                    <div tpl="" rel="" class="product-item ">
                                                        <a data-id="@item.MA_SACH" data-score="" href="@Url.Action("ProductInfo", "Product", new { maSach = @item.MA_SACH })" title="@item.TEN_SACH" class="">
                                                            <span class="image">
                                                                <img class="product-image img-responsive center" src="@item.ANH" alt="">
                                                            </span>
                                                            <div class="info crop">
                                                                <span class="title">
                                                                    @item.TEN_SACH.
                                                                </span>
                                                                <p class="author">Yuriko Mamiya</p>
                                                                <p>
                                                                    <h4 class="price-sale">@item.GIA</h4>
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            if (b == 8)
                                            {
                                                break;
                                            }

                                        }
                                    }
                                </div>
                            <div class="row">
                                <center>
                                    <button class="btn-info More">Xem thêm</button>
                                </center>
                            </div>
                        </div><!--end row-fluid-->
                        <div class="tab-pane fade in" id="tab2">
                            <div class="row-fluid row">
                                @{
                                    b = 0;
                                    foreach (var item in Model)
                                    {

                                        b++;
                                        <div class="itm col-xs-2 col-md-2">
                                            <div class="product-box-list">
                                                <div class="product-box-list">
                                                    <div tpl="" rel="" class="product-item ">
                                                        <a data-id="@item.MA_SACH" data-score="" href="@Url.Action("ProductInfo", "Product", new { maTour =@item.MA_SACH})" title="@item.TEN_SACH" class="">
                                                            <span class="image">
                                                                <img class="product-image img-responsive center" src="@item.ANH" alt="">
                                                            </span>
                                                            <div class="info crop">
                                                                <span class="title">
                                                                    @item.TEN_SACH.
                                                                </span>
                                                                <p class="author">Yuriko Mamiya</p>
                                                                <p>
                                                                    <h4 class="price-sale">@item.GIA</h4>
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        if (b == 8)
                                        {
                                            break;
                                        }

                                    } <!--end while-->

                                }
                            </div>
                            <div class="row">
                                <center>
                                    <button class="btn-info More">Xem thêm</button>
                                </center>
                            </div>
                        </div><!--end row-fluid-->
                        <div class="tab-pane fade in" id="tab3">
                            <div class="row-fluid row">
                                @{
                                    b = 0;
                                    while (b < 12)
                                    {

                                        b++;
                                        <div class="itm col-xs-2 col-md-2">
                                            <div class="product-box-list">
                                                <div class="product-box-list">
                                                    <div tpl="" rel="" class="product-item ">
                                                        <a data-id="" data-score="" href="https://tiki.vn/bon-chang-trai-cung-nhau-di-du-lich-p1621207.html?src=category-page" title="Bốn Chàng Trai Cùng Nhau Đi Du Lịch" class="">
                                                            <span class="image">
                                                                <img class="product-image img-responsive center" src="https://vcdn.tikicdn.com/cache/200x200/ts/product/cf/f9/5e/31faa41dfe6feae3b7303bbb1e36db27.jpg" alt="">
                                                            </span>
                                                            <div class="info">
                                                                <span class="title">
                                                                    Bốn Chàng Trai Cùng Nhau Đi Du Lịch
                                                                </span>
                                                                <p class="author">Yuriko Mamiya</p>
                                                                <p>
                                                                    <h4 class="price-sale">71.400 ₫</h4>
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    } <!--end while-->

                                }
                            </div>
                            <div class="row">
                                <center>
                                    <button class="btn-info More">Xem thêm</button>
                                </center>
                            </div>
                        </div><!--end row-fluid-->
                    </div>
                </div>
            </div> 
    </div>
    </div>

<style>
    .crop {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }

    ​

    ​
    h4.price-sale {
        text-align: center;
        color: black;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 230px;
    }

    .itm {
        border: 1px solid lightgray;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: none;
        height: 340px;
    }
        .itm:hover {
            box-shadow:   5px 5px 5px darkgray;
            border: 1px solid black;
        }

    .col-md-2 {
        width: 23%;
    }

    a {
        outline: none;
        color: #2e2d2d;
    }

        a:hover {
            color: black;
            text-decoration: none;
        }

    .info {
        border-top: 1px solid lightgray;
    }
    .nav.nav-tabs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav-tabs > li.active > a, 
    .nav-tabs > li.active > a:hover, 
    .nav-tabs > li.active > a:focus {
        border-top:2px solid orange;
    }
    .More {
        color: white;
        background-color: #29a1da;
        width: 10%;
        height: 35px;
        border-radius: 40px;
        margin-top: 5px;
    }
</style>
